<div>
  <h1>{{ title }}</h1>
  <h2>Liaison unidirectionnelle</h2>
  <h3>Liaison de données par interpolation</h3>
  <p>{{ interpolation }}</p>

  <h3>Liaison de données par propriété</h3>
  <input type="text" [value]="valeurInput" disabled />

  <h3>Liaison de données par événements</h3>
  <button (click)="onClickButton()">
    Afficher une information sur la console
  </button>

  <h2>Liaison bidirectionnelle</h2>
  <div>
    <input [(ngModel)]="zoneSaisie" />
  </div>
  <p>
    Affichage de la propriété saisie par interpolation -> {{ zoneSaisie }}
  </p>
</div>
